<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="Thresholds" value="0,80,90,95,99"/>
    <add key="Persistence.Filepath" value="C:\Temp\CpuMonitor\CpuMonitor-service.json"/>
  </appSettings>
</configuration>